@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: #f3f4f6;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.content {
  border: 1px solid transparent;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.bd-header {
  width: 100%;
  height: 250px;
  background: url("/final-exercise-vanilla-javascript/raw_Images/pexels-pixabay-371649.jpg");
  background-position: 0 -100px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
}

.bd-header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(222, 35, 214, 0.529849)), color-stop(21%, rgba(147, 20, 201, 0.496236)), to(rgba(40, 131, 186, 0.611082)));
  background: linear-gradient(90deg, rgba(222, 35, 214, 0.529849) 0%, rgba(147, 20, 201, 0.496236) 21%, rgba(40, 131, 186, 0.611082) 100%);
}

.top-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0;
}

.top-display i {
  position: relative;
}

.top-display i:hover {
  color: #042c47;
}

.top-display i #darkmode {
  position: absolute;
  left: 1px;
  top: 8px;
  opacity: 0;
  cursor: pointer;
}

.top-display i #darkmode::before {
  content: '';
  width: 31px;
  height: 32px;
  top: -12px;
  left: -4px;
  position: absolute;
}

.bodydarkmode {
  background: #000000d1;
  width: 100vw;
  height: 100vh;
}

.dmode {
  color: black;
}

.inputs {
  background: #fff;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px 40px;
  margin: 0 auto;
}

.inputs:focus {
  outline: none;
}

.input {
  position: relative;
}

.input::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 10px;
  border: 2px solid #e6e5e5;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.input #add {
  position: absolute;
  top: 12px;
  right: 13px;
}

.input #add:hover {
  color: #0996f5;
}

h2 {
  color: #fff;
  letter-spacing: 11px;
}

i {
  color: #fff;
  cursor: pointer;
  font-size: 20pt;
}

.list-actions {
  background: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

.list-actions a:nth-child(2) {
  margin: 0 20px;
}

.list-view {
  border: 1px solid red;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  margin: 20px 0 0;
  height: 350px;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}

.list-view li > span {
  pointer-events: none;
  overflow-x: hidden;
}

.list-view li {
  text-align: left;
  padding: 10px 10px 10px 40px;
  list-style-type: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-view li span {
  width: 90%;
  position: relative;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-view li .edit-form {
  width: 80%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-view li .edit-input {
  background-color: inherit;
  outline: 0;
  border: 0;
  width: 80%;
  border-bottom: 1px solid grey;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.list-view li .edit-submit {
  background-color: inherit;
  border: 0;
  outline: 0;
}

.list-view li .edit-submit i {
  color: #0996f5;
  font-size: 16px;
  padding: 5px;
}

.list-view li .cancel-submit {
  background-color: inherit;
  border: 0;
  outline: 0;
}

.list-view li .cancel-submit i {
  color: #f51909;
  font-size: 16px;
  padding: 5px;
}

.list-view li .lists-settings {
  width: 40px;
  float: right;
}

.list-view li .lists-settings i:last-child {
  font-size: 12pt;
  color: #c7bebe;
}

.list-view li .lists-settings i:last-child:hover {
  color: #18be09 !important;
}

.list-view li .lists-settings i:first-child {
  font-size: 12pt;
  color: #c7bebe;
  position: relative;
  margin-right: 13px;
}

.list-view li .lists-settings i:first-child:hover {
  color: #f5096b;
}

.list-view li .lists-settings i:first-child .options {
  position: absolute;
  padding: 6px 0px;
  background: #fff;
  width: 50px;
  bottom: -5px;
  right: 15px;
  text-align: center;
  border-radius: 3px;
  font-size: 11pt;
  display: none;
}

.list-view li .lists-settings i:first-child .options::before {
  content: '';
  position: absolute;
  width: 27px;
  height: 28px;
  right: -16px;
  top: -3px;
}

.list-view li .lists-settings i:first-child .options a:first-child {
  margin-right: 10px;
}

.list-view li .lists-settings i:first-child .options a:first-child:hover {
  color: #0996f5;
}

.list-view li .lists-settings i:first-child .options a:last-child:hover {
  color: #f50909;
}

.list-view li::before {
  content: '\f0a4';
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  font-size: 20px;
  color: #0996f5;
  left: 10px;
}

.list-view li:nth-child(odd) {
  background: #ececec;
}

.list-view li:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.list-view-option {
  width: 100%;
  background: #fff;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}

ul li .lists-settings .option-icon:hover .options {
  display: block;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

a {
  text-decoration: none;
  color: #a1a1a5;
  cursor: pointer;
}

.drag-drop {
  text-align: center;
  height: auto;
  margin-top: 50px;
  letter-spacing: 1px;
  color: #a7a7a7;
}
/*# sourceMappingURL=style.css.map */