@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: #f3f4f6
}

.container {
    width: 700px;
    // border: 1px solid red;
    margin: 0 auto;
}

.content {
    border: 1px solid transparent;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.bd-header {
    width: 100%;
    height: 250px;
    // background: url('./raw_Images/pexels-pixabay-371649.jpg');
    background: url('raw_Images/pexels-pixabay-371649.jpg');
    background-position: 0 -100px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(90deg, rgba(222, 35, 214, 0.5298494397759104) 0%, rgba(147, 20, 201, 0.4962359943977591) 21%, rgba(40, 131, 186, 0.6110819327731092) 100%);
    }
}

.top-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0;

    i:hover{
        color: #042c47;
    }
}

.inputs {
    background: #fff;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 0 auto;

    &:focus{
        outline: none;
    }
   
}
.input{
    position: relative;


    &::before{
        content:'';
        position: absolute;
        top: 8px;
        left: 7px;
        border: 2px solid #e6e5e5;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    #add{
        position: absolute;
        top: 12px;
        right: 13px;

        &:hover{
            color: #0996f5;
        }
    }

}

h2 {
    color: #fff;
    letter-spacing: 11px;
}

i {
    color: #fff;
    cursor: pointer;
    font-size: 20pt;
}

.list-actions {
    background: #fff;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-weight: bold;

    a:nth-child(2) {
        margin: 0 20px;
    }
}

.list-view {
    border: 1px solid red;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
    height: 350px;
    width: 100%;
    // overflow: hidden;
    position: relative;
    li > *{
        pointer-events:none;
    }
    li{
        text-align: left;
        padding: 10px 10px 10px 40px;
        list-style-type: none;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            width:100%;
            position: relative;
            height:20px;
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
        .edit-form{
            width:80%;
        }
        .edit-input{
            background-color: inherit;
            outline: 0;
            border:0;
            width:80%;
            border-bottom:1px solid grey;
            font-size:16px;
            font-family: 'Lato', sans-serif;
        }

        .edit-submit{
            background-color: inherit;
            i{
                color:#0996f5;
                font-size:16px;
                padding:5px;
            }
            border:0;
            outline:0;
        }

        .lists-settings{
            width: 40px;
            float: right;
            // height: 100px;
            // border: 1px solid red;

            i:first-child{
                font-size: 12pt;
                color: #c7bebe;
                margin-right: 13px;

                &:hover{
                    color: #18be09!important;
                }
            }
            i:last-child{
                font-size: 12pt;
                color: #c7bebe;
            position: relative;

            .options{
                position: absolute;
                padding: 6px 0px;
                background: #fff;
                width: 50px;
                bottom: -5px;
                left: 23px;
                text-align: center;
                border-radius: 3px;
                font-size: 11pt;
                display: none;

                &::before{
                    content: '';
                    position: absolute;
                    width: 33px;
                    height: 28px;
                    // border: 1px solid red;
                    left: -24px;
                    top: -3px;
                }

                a:first-child{
                    margin-right: 10px;
                    &:hover{
                        color: #0996f5;
                    }
                }
                a:last-child{
                    // margin: 3px;
                    &:hover{
                        color: #f50909;
                    }
                }
            }
            }
        }
        &::before{
            content: '\f0a4';
            font-family: "Font Awesome 5 Pro";
            position: absolute;
            font-size: 20px;
            color: #0996f5;
            left: 10px;
            
        }
        &:nth-child(odd) {
            background: #ececec;
        }
        &:first-child{
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;

        }
    }
    &-option {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        padding: 0 20px 10px;
        justify-content: space-between;

    }
}

ul li .lists-settings .option-icon:hover .options{
    display: block;
}


a {
    text-decoration: none;
    color: #a1a1a5;
    cursor: pointer;
}
.drag-drop{
    text-align: center;
    height: auto;
    margin-top: 50px;
    letter-spacing: 1px;
    color: #a7a7a7;
}
