@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #f3f4f6;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.content {
  border: 1px solid transparent;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.bd-header {
  width: 100%;
  height: 250px;
  background: url("raw_Images/pexels-pixabay-371649.jpg");
  background-position: 0 -100px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  z-index: 0;
}
.bd-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(90deg, rgba(222, 35, 214, 0.5298494398) 0%, rgba(147, 20, 201, 0.4962359944) 21%, rgba(40, 131, 186, 0.6110819328) 100%);
}

.top-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0;
}
.top-display i:hover {
  color: #042c47;
}

.inputs {
  background: #fff;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px 40px;
  margin: 0 auto;
}
.inputs:focus {
  outline: none;
}

.input {
  position: relative;
}
.input::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  border: 2px solid #e6e5e5;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.input #add {
  position: absolute;
  top: 12px;
  right: 13px;
}
.input #add:hover {
  color: #0996f5;
}

h2 {
  color: #fff;
  letter-spacing: 11px;
}

i {
  color: #fff;
  cursor: pointer;
  font-size: 20pt;
}

.list-actions {
  background: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.list-actions a:nth-child(2) {
  margin: 0 20px;
}

.list-view {
  border: 1px solid red;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  margin: 20px 0;
  height: 350px;
  width: 100%;
  position: relative;
}
.list-view li {
  text-align: left;
  padding: 10px 10px 10px 40px;
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-view li .lists-settings {
  width: 40px;
  float: right;
}
.list-view li .lists-settings i:first-child {
  font-size: 12pt;
  color: #c7bebe;
  margin-right: 13px;
}
.list-view li .lists-settings i:first-child:hover {
  color: #18be09 !important;
}
.list-view li .lists-settings i:last-child {
  font-size: 12pt;
  color: #c7bebe;
  position: relative;
}
.list-view li .lists-settings i:last-child .options {
  position: absolute;
  padding: 6px 0px;
  background: #fff;
  width: 50px;
  bottom: -5px;
  left: 23px;
  text-align: center;
  border-radius: 3px;
  font-size: 11pt;
  display: none;
}
.list-view li .lists-settings i:last-child .options::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 28px;
  left: -24px;
  top: -3px;
}
.list-view li .lists-settings i:last-child .options a:first-child {
  margin-right: 10px;
}
.list-view li .lists-settings i:last-child .options a:first-child:hover {
  color: #0996f5;
}
.list-view li .lists-settings i:last-child .options a:last-child:hover {
  color: #f50909;
}
.list-view li::before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  font-size: 20px;
  color: #0996f5;
  left: 10px;
}
.list-view li:nth-child(odd) {
  background: #ececec;
}
.list-view li:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.list-view-option {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 0 20px 10px;
  justify-content: space-between;
}

ul li .lists-settings .option-icon:hover .options {
  display: block;
}

a {
  text-decoration: none;
  color: #a1a1a5;
  cursor: pointer;
}

.drag-drop {
  text-align: center;
  height: auto;
  margin-top: 50px;
  letter-spacing: 1px;
  color: #a7a7a7;
}

/*# sourceMappingURL=style.css.map */
